@model WebApplication5.Models.ViewModels.ResetPasswordViewModel

<link href="~/css/cssForLogin.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first ">
            <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" id="icon" alt="User Icon" />
        </div>

        <form asp-action="ReastPassword" method="post" asp-controller="Account">
            @Html.HiddenFor(x => x.Code)
            @Html.HiddenFor(x => x.Email)
            @Html.PasswordFor(x => x.Password, new
            {
                @class = "form-control m-auto bg-light border-0",
                style = "width:85%; text-align: center;  ",
                placeholder = "password",
                pattern = "^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{7,}$",
                required = "required",
                title = "Minimum of 8 characters. Should have at least one special character and one number."
            })
            <div style="height:5px"></div>
            @Html.PasswordFor(x => x.ConfirmPassword, new
            {
                @class = "form-control m-auto bg-light border-0",
                style = "width:85%; text-align: center;  ",
                placeholder = "password",
                pattern = "^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{7,}$",
                required = "required",
                title = "Minimum of 8 characters. Should have at least one special character and one number."
            })
            <input type="submit" class="fadeIn fourth" value="Change password">
        </form>
    </div>
</div>