
<div class="container mt-4 m-auto"  >
    <form asp-action="Create" method="post">
        <div>
            <label for="name">Role name</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>
